* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body {
    transition: background 0.2s linear;
  }
  
  body.dark {
    background: #292c35;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #787878;
}

p {
    color: #787878;
    font-size: 1.5em;
}

.header {
    background-image: url(./imgs/backgroud.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1.5em;
}

.inner {
    text-align: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.description {
    font-size: 1.75em;
}



.about {
    font-size: 1.5em;
    color: #787878;
}

.skills img {
    width: 70px;
    height: 70px;
    margin: 1.5em 1.5em 1.5em 3em;
}

.main > section:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

.main > section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
}

.main {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

@media screen and (min-width: 768px ) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Epilogue', sans-serif;
    }
    
    h2 {
        font-size: 1.5em;
        color: #787878;
    }
    
    p {
        color: #787878;
        font-size: 1.5em;
    }
    
    .header {
        background-image: url(./imgs/backgroud.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        width: 35%;
        height: 100%;
        text-align: right;
        align-items: flex-end;
        background-attachment: scroll, scroll;
        background-repeat: repeat, no-repeat;
    }
    
    .inner {
        margin-right: 2em;
    }
    
    .profile {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        margin: 6em 5em 2em 0;
    }
    
    .description {
        font-size: 1.75em;
    }
    
    .main {
        margin-left: 35%;
        max-width: 54em;
        padding: 8em 4em 4em 4em;
        width: calc(100% - 35%)
    }


    
    .about {
        font-size: 1.5em;
        color: #787878;
    }
    
    .skills img {
        width: 70px;
        height: 70px;
        margin: 20px;
    }
    
    .main > section:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }
    
    .main > section {
        border-top: solid 2px #efefef;
        margin: 4em 0 0 0;
        padding: 4em 0 0 0;
    }
}