h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
body{
    font-family: 'Edu SA Beginner', cursive;
    background-color: #2B9EB3;
    padding: 5px;
}
strong{
    color: #F8333C;
}
#favorite{
    font-size: 30px;
}
#backToTop {
    height: 180px;
    float: left;
    padding: 10px;
    background-color: green;
}


.container{
    
    height: 290px;
}

#aboutme{
    position: relative;
    top: 10px;
    left: 25%;
}

ul li:nth-child(odd) {
    background-color: darkgray;
}